{% extends 'rango/base.html' %}

{% load staticfiles %}

<!-- this is the login page(using django-registration-redux) -->
{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<body>
  <link href="{% static 'css/registration.css' %}" rel="stylesheet">

  <!-- the header part -->
  <div class="head-container">
      <h1 class="jumbotron-heading">Log in to your Olympic News Account</h1>
  </div>

  <!-- using placeholder to get username and password for loging in -->
  <div class="body-container">
    <form class="form-signin" role="form" method="post" action=".">
      <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
      {% csrf_token %}
      <!-- get username -->
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus>

      <!--get password -->
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
      <!-- checkbox if users want to remember their username and password -->
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me">
          Remember me
        </label>
      </div>
      <button class="btn btn-md btn-block btn-outline-danger" type="submit" value="Submit">LOG IN</button>
      <p class="alert">
        <!-- if not registered, redirecting to the register page -->
        Not registered?
        <a class="alert-link" href="{% url 'registration_register' %}">Register here!</a>
      </p>
    </form>
    
    
  </div>
</body>
{% endblock %}