{% extends 'rango/base.html' %}

{% load staticfiles %}

<!-- this page is for registration(using django-registration-redux) -->
{% block title_block %}
    Register
{% endblock %}

<!--the header part -->
{% block body_block %}
<body>
    <link href="{% static 'css/registration.css' %}" rel="stylesheet">
    
    <!-- head title-->
    <div class="head-container">
        <h1>Please sign up</h1>
    </div>
    
    <!-- get user informaiton in registration-->
    <div class="body-container">
        <form role="form" method="post" action=".">
            {% csrf_token %}
            <div class="form-group">
                <p class="required">
                    <!-- get username -->
                    <label class="required" for="id_username">Username</label>
                    <input class="form-control" id="id_username" maxlength="30"
                        name="username" type="text">
                    <span class="helptext">
                        <small>
                            <!-- username registration tips -->
                            Required. 150 characters or fewer.
                            Letters, digits and @/./+/-/_ only.
                        </small>
                    </span>
                </p>
                <p class="required">
                    <!-- get email -->
                    <label class="required" for="id_email">E-mail</label>
                    <input class="form-control" id="id_email" name="email" type="email" />
                </p>
                <p class="required">
                    <!-- get password -->
                    <label class="required" for="id_password1">Password</label>
                    <input class="form-control" id="id_password1" name="password1" type="password" />
                    <span class="helptext">
                        <small>
                            <!-- password registration tips -->
                            Your password must contain at least 6 characters, and include Letters, digits and @/./+/-/_ only.
                        </small>
                    </span>
                </p>

                <p class="required">
                    <!-- confirm password -->
                    <label class="required" for="id_password2" >Password confirmation</label>
                    <input class="form-control" id="id_password2" name="password2" type="password" />
                    <span class="helptext">
                        <small>
                            The same password as before, for verification.
                        </small>
                    </span>
                </p>
            </div>
            <!-- sumit the form for registration-->
            <button class="w-100 btn btn-md btn-outline-danger" type="submit">Sign up</button>
        </form>
    </div>
</body>

{% endblock %}