{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}

<div class="text-center">
    <div class="container">
        <h1 class="jumbotron-heading">ABOUT US</h1>
    </div>
</div>

<div class="text-center">
    <img src="{% static 'images/company_banner.png' %}" alt="Picture of company_banner" style="width: 100%; height: 100%"/>
    <h6>Our website tries our best to provide users best service about Olympic News. Our website provides a searching function to find relevant news about the events which users are interested in. When users login into our application, you could add pages for the up-to-date news of the Olympics and could also vote for their favorite teams and sports. In terms of the user profile, our website allows users to upload and share their pictures. ​</h6>
</div><br />
<div class="container-fluid text-center text-md-left">
    <div class="text-center">
        <h3 class="text-uppercase">TEAM MEMBERS</h3>
    </div>
    <div class="row">
        <div class="col-md-3 mb-md-0 mb-3">
            <img src="{% static 'images/Guicheng Zhang.png' %}" alt="Picture of Guicheng Zhang" /><br />
            <strong>Guicheng Zhang</strong>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
            <img src="{% static 'images/Zijian Chen.png' %}" alt="Picture of Zijian Chen" /><br />
            <strong>Zijian Chen</strong>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
            <img src="{% static 'images/Shijun Zhang.png' %}" alt="Picture of Shijun Zhang" /><br />
            <strong>Shijun Zhang</strong>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
            <img src="{% static 'images/Boyang Han.png' %}" alt="Picture of Boyang Han" /><br />
            <strong>Boyang Han</strong>
        </div>
    </div>
</div>
<br />
<!--<div>
    You have visited our website:{{ visits }}<br />
</div>-->
{% endblock %}