{% extends 'rango/base.html' %}

{% load staticfiles %}

<!-- this page is for adding a piece of news in a specific category-->
{% block title_block %}
    Add a Page
{% endblock %}

{% block body_block %}
<!-- the header part(displaying which category you will add news at) -->
<div class="text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Add News to {{ category.name }}</h1>
    </div>
</div>

<!-- helper text and entries for adding news -->
<div class="text-center p-5 h-100">
    <form role="form" id="page_form" method="post" action="{% url 'rango:add_page' category.slug %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        {{ field.errors }}
        <p style="font-size:20px;">{{ field.help_text }}</p>
        <p style="font-size:20px;">{{ field }}</p>
    {% endfor %}
        <div class="p-5">
            <button class="btn btn-lg btn-outline-danger" type="submit" name="submit" style="width: auto;">Add News</button>
        </div>
    </form>
</div> 
{% endblock %}