{% extends 'rango/base.html' %}

{% load staticfiles %}

<!-- this page is for adding a piece of news in a specific category-->
{% block title_block %}
    Add a Page
{% endblock %}

{% block body_block %}
<body>
<link rel="stylesheet" type="text/css" href="{% static 'css/cate.css' %}">
<!-- the header part(displaying which category you will add news at) -->
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Add News to {{ category.name }}</h1>
    </div>
</div>

<!-- helper text and entries for adding news -->
<div class="text-center p-5 h-100">
    <form role="form" id="page_form" method="post" action="{% url 'rango:add_page' category.slug %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        {{ field.errors }}
        <p>{{ field.help_text }}</p>
        <p>{{ field }}</p>
    {% endfor %}
        <div class="p-4">
            <button class="btn btn-lg btn-outline-danger" type="submit" name="submit">Add News</button>
        </div>
    </form>
</div> 
</body>
{% endblock %}