{% extends 'rango/base.html' %}
{% load staticfiles %}

<!-- the page of a specific sport(redirected from the side bar) -->
{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

<!-- the header part -->
{% block body_block %}
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cate.css' %}">
    {% if category %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">{{ category.name }}</h1>
            <a class="cate" href="{% url 'rango:team' category.slug %}">Participating Team</a>
        </div>
    </div>

    <div class="addn-c">
        <h2 class="jumbotron-heading">News</h2>
        {% if user.is_authenticated %}
        <!-- granted users an 'add page' function if logged in-->
        <a class="cate" href="{% url 'rango:add_page' category.slug %}">Add news</a><br/><br />
        {% endif %}
        {% else %}
        The specified sport does not exist.
        {% endif %}
    </div>

    {% if pages %}
    <!-- displaying the top viewed pages of this sport-->
    <ul>
        {% for page in pages %}
        <li>
            <a href="{% url 'rango:goto' %}?page_id={{ page.id }}">{{ page.title }}</a>
            {% if page.views > 1 %}
                ({{ page.views }} views)
            {% elif page.views == 1 %}
                ({{ page.views }} view)
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No news currently in this sport.</strong>
    {% endif %}
    
    
    {% if user.is_authenticated %}
    <div class="container">

        <!-- users could search for specific news if logged in-->
        <form class="form-inline" id="user-form" method="post" action="{% url 'rango:show_category' category.slug %}">
            {% csrf_token %}
    
            <div class="form-group">
                <input class="form-control" type="text" size="50" name="query" value="{{ query }}" id="query" />
            </div>
    
            <button class="btn btn-danger" type="submit" name="submit">Search</button>
        </form>
    </div>
    {% endif %}

    <div class="container h-100">
        <!-- displaying the searching results(news titles & urls) if exiested-->
        {% if result_list %}
            <h2>Results</h2>

            <div class="list-group">
                {% for result in result_list %}
                    <div class="list-group-item">
                        <h3 class="list-group-item-heading">
                            <a href="{{ result.link }}">
                                {{ result.title|safe|escape }}
                            </a>
                        <!-- add the news to above -->
                            <button class="btn btn-info btn-sm rango-page-add" type="button" data-categoryid="{{ category.id }}" 
                            data-title="{{ result.title }}" data-url="{{ result.link }}">Add</button>
                        </h3>
                        <p class="list-group-item-text">
                            {{ result.summary|safe|escape }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
{% endblock %} 