{% extends 'rango/base.html' %}

{% load staticfiles %} 

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}

<div class="text-center p-2">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to Olympic News!</h1>
    </div>
    <img src="{% static 'images/Tokyo.png' %}" alt="Picture of Tokyo" style="width: 100%; height: 100%"/>
</div>

<div class="container p-4">
    <div class="row">
        <div class="container">
            <a class=" text-center" style="color:rgb(211, 124, 11)"><h2>Most Viewed News</h2></a>
            <div class="card-body mb-8">
                <p class="card-text">
                {% if pages %}
                <ul class="list-group">
                {% for page in pages %}
                    <li class="list-group-item">
                        <a style="color:rgb(204, 167, 120)" href="{{ page.url }}"><strong>{{ page.title }}</strong></a>
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                    <strong>There are no pages present.</strong>
                {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %} 