{% extends 'rango/base.html' %}

{% load staticfiles %}

<!-- this is the restricted page -->
{% block title_block %}
    Restricted Page
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Rango says...</h1>
        <div>
            <h2 class="h2">
            <!-- display message of restricted page -->
            here is the Restricted page. <br />
            </h2>
        </div>
    </div>
</div>
{% endblock %}