{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Team
{% endblock %}

{% block body_block %}
<div class="text-center p-2">
    <div class="container">
        <h1 class="jumbotron-heading">Sport: {{ category.name }}</h1>
    </div>
</div>

<div class="container p-4 h-100">
    <ul>
    {% if team %}
        {% for teams in team %}
            <li>
                <a >{{ teams.country }}</a>
                <div>
                    <strong id="like_count">{{ teams.likes }}</strong> Voted
                    
                    <button id="like_btn" data-categoryid="{{ team.id }}" class="btn btn-primary btn-sm" type="button">
                        <span data-feather="thumbs-up"></span>
                        Vote for this team
                    </button>
                    
                </div>
            </li>
        {% endfor %}
    {% endif %}
    </ul>
</div>
{% endblock %} 