{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Participated Teams
{% endblock %}

{% block body_block %}

<div class="text-center p-2">
    <div class="container">
        <h1 class="jumbotron-heading">Participating Teams</h1>
    </div>
</div>

<div class="p-4 h-100">
    {% if sport %}
        <ul>
            {% for sports in sport %}
                <li>Participated teams in {{ sports.name }}
                    <a href = "{% url 'rango:team' sports.slug %}">detail</a> <!-- href to the page of participated teams in this sport-->
                </li>
            {% endfor %}
        </ul>
    {% else %}
    <li class="nav-item">There are no sports present.</li>
    {% endif %}
</div>
{% endblock %} 