{% extends 'rango/base.html' %}
{% load staticfiles %}

<!-- this page is for displaying participated teams(redirected form the navigaiton bar) -->
{% block title_block %}
   Participated Teams
{% endblock %}

{% block body_block %}

<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Participating Teams</h1>
        <p>* Sort by views of sport in descending order</p>
    </div>
</div>

<div class="container">
    <form>
        {% if sport %}
        
        <ul style="font-size: 30px">
            {% for sports in sport %}
                <li class="mt-5">Participated teams in {{ sports.name }}
                    <!-- href to the page of participated teams in this sport-->
                    <a href = "{% url 'rango:team' sports.slug %}" style="color:rgb(200, 25, 25); text-decoration: underline">vote detail</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <li class="nav-item">There are no sports present.</li>
        {% endif %}
    </form>
</div>
{% endblock %} 