{% extends 'rango/base.html' %}
{% load staticfiles %}

<!-- this page is for voting for a team -->
{% block title_block %}
   Team
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Participating Team - {{ sport.name }}</h1>
    </div>
</div>

<div class="container">
    <!--using form to make the vote result could update timely-->
    <form>
        <ul>
        {% if team %}
            {% for teams in team %}
            <li class="mt-5">
                <div class="row">
                    <div class="col-sm">
                        <!--show the participated teams in this sports order by the vote number -->
                        <a >{{ teams.country }}</a>
                        ( <strong id="like_count">{{ teams.likes }}</strong> Voted )
                    </div>
                    <div class="col-sm text-center">
                        <!-- add buttons to vote for the team, it would react with ajax -->
                        <button id="like_btn" data-teamid="{{ teams.id }}" class="btn btn-sm" style="background-color:rgb(211, 124, 11);">
                            <span data-feather="flag"></span>
                            Vote for this team
                        </button>
                    </div>
                </div>
            </li>
            {% endfor %}
        {% endif %}
        </ul>
    </form>
</div>
{% endblock %}