{% extends 'rango/base.html' %}
{% load staticfiles %}

<!-- this page is for voting for a team -->
{% block title_block %}
   Team
{% endblock %}

{% block body_block %}
<body>
    <link href="{% static 'css/teams.css' %}" rel="stylesheet">

    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Participating Team - {{ sport.name }}</h1>
        </div>
    </div>
    
    <div class="body-container">
        <!--using form to make the vote result could update timely-->
        <form>
            <ul>
            {% if team %}
                {% for teams in team %}
                <li class="mt-5">
                    <div class="row">
                        <div class="col-md-4">
                            <!--show the participated teams in this sports order by the vote number -->
                            <a >{{ teams.country }}</a>
                            ( <strong class="votes" id="like_count">{{ teams.likes }}</strong> Voted )
                        </div>
                        <div class="col-md-5 text-center">
                            <!-- add buttons to vote for the team, it would react with ajax -->
                            <button class="btn btn-sm" id="like_btn" data-teamid="{{ teams.id }}">
                                <span data-feather="flag"></span>
                                Vote
                            </button>
                        </div>
                    </div>
                </li>
                {% endfor %}
            {% endif %}
            </ul>
        </form>
    </div>
</body>
{% endblock %}